<center>
    <strong style="font-size: larger;">Testo:</strong>
</center>

<center style="font-size: medium;">
    En la sala de un hospital
    <br>
    a las 9:43 nació Simon
    <br>
    Es el verano del ‘56
    <br>
    El orgullo de don Andrés, por ser varón
    <br>
    Fue criado como los demas
    <br>
    Con mano dura, con severidad
    <br>
    Nunca opinó
    <br>
    Cuando crezcas vas a estudiar
    <br>
    La misma vaina que tu papá, óyelo bien
    <br>
    Tendrás que ser un gran varon
    <br>
    Al extranjero se fue Simón
    <br>
    Lejos de casa, se le olvidó aquel sermón
    <br>
    Cambio la forma de caminar
    <br>
    Usaba falda, lápiz labial, y un carterón
    <br>
    Cuenta la gente que un dia el papá
    <br>
    Fue a visitarlo sin avisar
    <br>
    Vaya que error
    <br>
    Y una mujer le habló al pasar
    <br>
    Le dijo hola, qué tal papá, ¿cómo te va?
    <br>
    No me conoces yo soy Simón
    <br>
    Simón, tu hijo, el gran varón
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    Se dejó llevar de lo que dice la gente
    <br>
    Su padre jamás le habló
    <br>
    Lo abandono para siempre
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    Y no te quejes Andrés, no te quejes por nada
    <br>
    Si del cielo te caen limones
    <br>
    Aprende a hacer limonada
    <br>
    No se puede corregir a la naturalesa
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    Y mientras pasan lo años, el viejo cediendo un poco
    <br>
    Simón ya ni le escribía, Andrés estaba furioso
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    Por fin hubo noticias de dónde su hijo estaba
    <br>
    Andres nunca olvidó el día de esa triste llamada
    <br>
    En la sala de un hospital
    <br>
    De una extraña enfermedad murió Simón
    <br>
    Es el verano del ‘86
    <br>
    Al enfermo de la cama 10 nadie lloró
    <br>
    Simón, Simón
    <br>
    Simón
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    Hay que tener compasión, basta ya de moraleja
    <br>
    En que esté libre de pecado, que tire la primera piedra
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
    <br>
    El que nunca perdona tiene destino cierto
    <br>
    de vivir amargos recuerdos en su propio infierno
    <br>
    No se puede corregir a la naturaleza
    <br>
    Palo que nace doblado, jamás su tronco endereza
</center>